body {
  background-color: #dedede;
}

header {
  background-color: #808080;
  height: 150px;
  position: relative;
}


  #headerBox {

    height: 100px;
    width: 800px;
    position: absolute;
    bottom: 12%;
    left: 10%;
  }

  #headerLogobox {
    background-color: #ffffff;
    height: 70px;
    width: 130px;
    position: absolute;
    margin-top: 3%;
    margin-bottom: 1%;
    font-family: courier;
    display: flex;
    align-items: center;
    justify-content: center
  }

  #navigation {
    background-color: #ffffff;
    height: 30px;
    width: 430px;
    position: absolute;
    margin-left: 150px;
    margin-top: 8%;
    margin-bottom: 1%;
  }

  ul li {
    padding: 0;
    list-style: none;
    float: left;
    border-right: 1px solid #333333;
  }

  ul {
    z-index: 99;
    margin: 0;
    padding: 5px 0;
  }
  li a {
    padding: 0 10px;
    text-decoration: none;

  }

  li ul {
    display: none;

  }

  li ul li {
    float: none;
    border-right: none;
    background-color: #ffffff;
    padding: 5px 0;
  }

  li:hover a {
    color: red;
  }

  li:hover ul {
    display: block;
    position: absolute;
  }

  li:hover li:hover {
    background-color: #dedede;
  }

  li:hover li a:hover {
    color: lime;
  }

main {
  background-color: #eeeeee;
  height: 800px;
  position: relative;
}

  #section_1 {
    background-color: #eeeeee;
    height: 450px;
    position: relative;

  }

    #section_1_box_container {
    background-color: #eeeeee;
    height: 300px;
    width: 880px;
    position: absolute;
    top: 20%;
    left: 10%;
  }

      #section_1_box_container_1 {
        background-color: #eeeeee;
        height: 300px;
        width: 50%;
        position: absolute;
        left: 0;
    }

        #section_1_box_1 {
          background-color: #00ffff;
          height: 300px;
          border-bottom: 2px solid #a4a7a7;
          float: left;
          width: 46%;
    }
          #section_1_1box_1text {
            background-color: #ffffff;
            float: left;
            margin: 220px 0 0 0;
            height: 80px;
            width: 100%;

            font-family: courier;
            display: flex;
            align-items: center;
            justify-content: center;

          }

        #section_1_box_2 {
          background-color: #00ffff;
          height: 300px;
          float: left;
          width: 46%;
          margin-left: 8%;
    }
          #section_1_1box_2text {
            background-color: #ffffff;
            float: left;
            margin: 220px 0 0 0;
            height: 80px;
            width: 100%;
            border-top: 2px solid #a4a7a7;
            font-family: courier;
            display: flex;
            align-items: center;
            justify-content: center;

          }

    #section_1_box_container_2 {
      background-color: #00ff00;
      height: 300px;
      width: 46%;
      right: 0;
      position: absolute;
      margin-left: 4%;
  }

      #section_1_box_3 {
        background-color: #bbf66f;
        height: 300px;
        float: left;
        width: 100%;
        border-bottom: 2px solid #a4a7a7;
        border-right: 2px solid #a4a7a7;
        font-family: courier;
        display: flex;
        align-items: center;
        justify-content: center;

  }
        #section_1_1box_3text {
        background-color: #ffffff;
        float: left;
        margin: 220px 0 0 0;
        height: 80px;
        width: 100%;
        font-family: courier;
        display: flex;
        align-items: center;
        justify-content: center;


    }


  #section_2 {
    background-color: #eeeeee;
    height: 300px;
    width: 880px;
    position: relative;
    top: 20%;
    left: 10%;
  }


  #section_2_1 {
    background-color: #eeeeee;
    height: 100%;
    width: 33.33%;
    float: left;
    position: absolute;

  }
    #section_2_1_lightgreen {
      background-color: #bbf66f;
      height: 100px;
      width: 100px;
      position: absolute;
      top: 10px;

    }
    #section_2_1_green {
      background-color: #18dd00;
      height: 100px;
      width: 100px;
      position: absolute;
      top: 80px;
      left: 70px;
    }

    #section_2_1_lightblue {
      background-color: #6feaf6;
      height: 100px;
      width: 100px;
      position: absolute;
      top: 10px;
      left: 120px;
    }
    #section_2_1_blue {
      background-color: #0080dd;
      height: 100px;
      width: 100px;
      position: absolute;
      top: 80px;
      left: 190px;
    }

  #section_2_2 {
    background-color: #eeeeee;
    height: 100%;
    width: 33.3%;
    float: left;
    position: relative;
    margin-left: 33.33%;
  }

    #section_2_2_orange {
    background-color: #dd4400;
    height: 100px;
    width: 100px;
    position: absolute;
    border: 1px solid #000000;
    top: 10px;
    right: 10px;
  }
    #section_2_2_yellow {
    background-color: #ffff00;
    height: 100px;
    width: 100px;
    position: absolute;
    border: 1px solid #000000;
    top: 60px;
    right: 70px;

  }
    #section_2_2_skin {
    background-color: #dbba89;
    height: 100px;
    width: 100px;
    position: absolute;
    border: 1px solid #000000;
    top: 110px;
    right: 130px;
  }

  #section_2_3 {
    background-color: #eeeeee;
    height: 100%;
    width: 33.33%;
    float: right;
    position: relative;
    }

    #section_2_3_box1 {
      background-color: #ff8200;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      border: 1px solid #000000;
      position: absolute;
      top: 10px;
      right: 0;
    }

    #section_2_3_box2 {
      background-color: #ff8200;
      height: 100px;
      width: 100px;
      border-radius: 10%;
      border: 1px solid #000000;
      position: absolute;
      top: 10px;
      right: 110px;
    }

    #section_2_3_box3 {
      background-color: #ff8200;
      height: 100px;
      width: 100px;
      border-radius: 40%;
      border: 1px solid #000000;
      position: absolute;;
      right: 0;
      top: 120px;
    }

    #section_2_3_box4 {
      background-color: #ff8200;
      height: 100px;
      width: 100px;
      border-radius: 25%;
      border: 1px solid #000000;
      position: absolute;;
      right: 110px;
      top: 120px;
    }

footer {
  background-color: #808080;
  height: 160px;
}
